*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} 

html {
  /*1rem = 10px */
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: $white;
  }

  h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}