/* Colors */
$neon: #efff40;
$light-neon: #eaf855;
$black: #0D0D0D;
$dark-gray: #1A1A1A;
//文字の80%はこの2色で完結見出しは黒、本文はダークグレーがバランス良い
$light-gray: #E7E7E7; //ボーダー・背景の区切り
$medium-gray: #6E6E6E; //サブテキスト）
$white: #FFFFFF; //メインの背景色
$soft-white: #FAFAFA; //カレンダーやカード用
$btn-white: #EFEFEF;

$light-black: rgb(24, 25, 15);
$light-black-rgba: rgba(24, 25, 15, 0.5);
$neon-green: rgb(173, 254, 2);
$green: rgba(174, 254, 2, 0.4);

/* Font-family */
$font-primary: "Bebas Neue", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-3: "Roboto", sans-serif;
$fony-4: "Comfortaa", sans-serif;

/* Font sizes (rem) */
$font-h1: 5rem;     
$font-h2: 4rem;   
$font-h3: 3rem;  
$font-body: 2rem;   
$font-small: 1.5rem;

