.landing-page {
    width: 100%;
    height: 100vh;
}

 .left-side {
    background-image: url(../assets/training_1.jpg);
    background-size: cover;
    height: 100vh;
    width: 50%;
    float: left;
    position: relative;
    }

  .btn--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 10rem;
    
    button {
        height: 5rem;
        width: 33%;
        font-size: 4rem;
        margin-bottom: 5rem;
        line-height: 4rem;
        border: 2px solid $light-gray;
        }
        //buttonタグへのスタイル
    }
    
    .right-side {
        background-color: $neon;
        position: relative;
        float: right;
        height: 100vh;
        width: 50%;
        
        /*.rotated-text {
            rotate: -90deg;
            }*/
        .rotated-text {
            position: absolute;
            top: 25%;
            left: 25%;
            transform: translate(-50%, -50%) rotate(-90deg);
            
           h1{
            line-height: 20rem;
            font-size: 20rem; 
            text-transform: uppercase;
            }
        }
    }    


.bottom-text {
    
    position: absolute;
    top: 50%;
    .arrows {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    p {
        font-size: 3rem;
        font-family: $font-secondary;
        margin-right: 2rem;
        }
    i {
        font-size: 12rem;
        color: $white;
    }
}
