.profile {
    width: 100%;
    height: 100%;
    background-color: $white;
    border: 2px solid purple;
} 
.main {
    width: 100%;
    min-width: 90vmin;
    aspect-ratio: 3 / 2;  /* width / height */
    padding: 3rem;
    display: flex;
    column-gap: 5rem;
    position: relative;
    transform-style: preserve-3d;
    border: 2px solid skyblue
}