.profile-container {
    width: 100%;
    height: 100%;
    background-color: $white;
    display: grid;
    place-items: center;
    perspective: 100rem;
    border: 2px solid blue;
} //今このclassNameはずしてる　className="main"に変えました