.profile {
    width: 100%;
    height: 100%;
    background-color: $white;
} 
.main {
    width: 100%;
    min-width: 90vmin;
    display: flex;
    padding: 3rem;
    column-gap: 5rem;

    @include respond(phone) {
   display: inline-block;
  }
}