.profile {
    width: 100%;
    height: 100%;
    background-color: $white;
    border: 2px solid purple;
} 
.main {
    width: 100%;
    min-width: 90vmin;
    display: flex;
    padding: 5rem;
    column-gap: 5rem;
    border: 2px solid skyblue;
}