.btn {
  display: inline-block;
  font-size: $font-body;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
  border-radius: 3px;
}

/* Variations */
.btn--primary {
  background: $neon;
  color: $black;
}

.btn--secondary {
  background: $dark-gray;
  color: $white;
  border: 1px solid $light-gray;
}

.btn--dark {
  background: $black;
  color: $white;
  border: 1px solid $light-gray;
}

.btn--light {
  background-color: $btn-white;
  color: $dark-gray;
  padding: 0 0.1rem;
}
/* Hover */
.btn:hover {
  opacity: 0.85;
}
