.btn {
  display: inline-block;
  font-size: $font-body;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.big-btn {
  display: inline-block;
  font-size: $font-h3;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
  border-radius: 3px;
  padding: 1rem 2rem;
}

.small-btn {
    font-size: $font-body;
    padding: 0 1rem;
    text-align: center;
    cursor: pointer;
   
  }

 .submit-btn {
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      span {
        padding-top: 0.6rem;
        font-size: 3rem;
      }
  }

/* Variations */
.btn--primary {
  background: $neon;
  color: $black;
}

.btn--secondary {
  background: $dark-gray;
  color: $white;
  border: 1px solid $light-gray;
}

.btn--dark {
  background: $black;
  color: $white;
  border: 1px solid $light-gray;
}

.btn--light {
  background-color: $btn-white;
  color: $dark-gray;
  border: 1px solid $light-gray;

  :hover {
    opacity: 0.85;
  }
}

/* Hover */
.btn:hover {
  opacity: 0.85;
}

/* for Linegraph */
.switching-btn--wrapper {
   
    
.switching-btn--all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .switching-btn--bp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }  

  .switching-btn--wn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  button {
    margin: 0 0.5rem;
  }
}

//Weight Unit Swich
.unit-switch {
    button { margin-right: 1rem;}
}