.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  
  font-size: $font-body;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

/* Variations */
.btn--primary {
  background: $neon;
  color: $black;
}

.btn--secondary {
  background: $dark-gray;
  color: $white;
  border: 1px solid $light-gray;
}

.btn--dark {
  background: $black;
  color: $white;
  border: 1px solid $light-gray;
}

/* Hover */
.btn:hover {
  opacity: 0.85;
}
