


/* Shadow Effect 
.calendar-app::after {
    content: "";
    position: absolute;
    bottom: -12rem;
    left: 50%;
    transform: translate(-50%) rotateX(50deg);
    width: 90%;
    height: 16rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20rem;
    filter:blur(4rem);
}*/

.calendar {
    width: 40%;
    border-radius: 0.6rem;
    border: 0.3rem solid $black;
    padding: 3rem;
    background-color: $soft-white;
    
    .navigate-date {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        margin: 1rem 2rem;
        gap: 3rem;
        h2 {
        letter-spacing: 0.3rem;
        }
    }
}

.buttons i {
    width: 3.5rem;
    height: 3.5rem;
    border: 0.1rem solid $black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: $black;
    cursor: pointer;
}

.weekdays {
    width: 100%;
    display: flex;
    margin: 3rem 0;
    span {
        width: calc(100% / 7);
        font-size: clamp(1rem, 0.8cqi, 1.3rem);
        font-weight: bold;
        text-transform: uppercase;
        color: $black;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: center;
    }
}

.days {
    display: flex;
    flex-wrap: wrap;
    span {
        font-size: clamp(1.2rem, 1cqi, 1.6rem);
        width: calc(100% / 7);
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $black;
        cursor: pointer;
        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
}

.current-day {
    background-color: $neon;
    border-radius: 50%;
    box-shadow: 0 0 1rem 0.3em $neon;
    
}
.archived-day {
  border: 2px solid $neon;
  border-radius: 50%;
  padding: 5px;
}
.selected-day {
    background-color: $neon;
    opacity: 0.5;
    border-radius: 50%;
}