.header {
    width: 100%;    
    &--left {
        float: left;

    }
    &--right {
        float: right;
        display: flex;
        justify-content: flex-end;
        margin: 3rem;
        a {
            color: $black;
            margin-right: 3rem;
        }
    }
}
