.header {
    width: 100%;
    &--wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--right {
        float: right;
        margin: 3rem;
        display: flex;
        a {
          color: $black;
          margin-right: 3rem;
        }
    }
}

.archived-days {
    display: flex;
    justify-content: center;
    align-items: center;

  h3, h2, button {
    margin-right: 2rem;
  }  
}