.logo {
    color: $black;
    display: inline-block;
    margin: 3rem;
    border: 2px solid green;
    a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: $black;
    border: 2px solid red;
    }

    .logo--text {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    border: 2px solid red;
        span {
            display: block;
            border: 2px solid blue;
        }
    }

    .logo--icon { 
        border: 2px solid blue;
        span{
        font-size: 3.5rem;
    }
    }
}