.logo {
    color: $black;
    display: inline-block;
    margin: 3rem;
    a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: $black;
    }

    .logo--text {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.5rem;
        span {
            display: block;
        }
    }

    .logo--icon { 
        span{
        font-size: 3.5rem;
        padding-top: 0.5rem;

    }
    }
}