.logo {
    padding: 1rem;
}

.logo a {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.logo--text {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    color: $black;
}

.logo--icon span {
    font-size: 3rem;
    color: $black;
}

.logo--text span {
    display: block;
}
