/* カード共通デザイン */
.event {
  background-color: $soft-white;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 16px;
  color: $dark-gray;
  border: 1px solid $light-gray;
}

/* ヘッダー配置 */
.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

/* ボディ部分 */
.event-body {
  margin-top: 10px;
}

.event-parts {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.event-buttons i {
  font-size: 20px;
  cursor: pointer;
  margin-left: 6px;
}

/* 1セット */
.set-input {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

/* ポップアップ */
.event-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}
