.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;

  &--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--card {
    width: 100%;
    background-color: $soft-white;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.6);
    color: $dark-gray;
    border: 1px solid $light-gray;
  }

  &--header {
    display: flex;
    justify-content: space-between;
  }

 &--title {
      margin: 0 auto;
    }
    
  &--body {
    display: flex;
    margin-bottom: 1rem;

    input {
      width: 100%;
      padding: 0.75rem;
      border-radius: 3px;
      margin-bottom: 1rem;
    }

    input:focus {
      border-color: $black;
      outline: none;
      box-shadow: 0 0 6px $neon;
    }

    label {
      font-size: $font-body;
      margin-bottom: 0.5rem;
      display: block;
    }
  
    button {
    width: 100%;
    }
  }

  .close-btn {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
  }
}