.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;

  &--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--card {
    width: 100%;
    background-color: $soft-white;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.6);
    color: $dark-gray;
    border: 1px solid $light-gray;
  }

  &--header {
    display: flex;
    justify-content: space-between;

    &--date {
      font-size: $font-small;
    }

    &--title {
      font-size: $font-body;
    }
  }

  &--title {
   display: flex;
    align-items: baseline;
    gap: 0.75rem;
    justify-content: space-between;

    .workoutname{
      display: flex;
      align-items: baseline;
      gap: 0.75rem;
    }

    .last-record{
     font-size: $font-small;
    }
}

  .close-btn {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
  }
    
  &--body {
    display: flex;
    margin-bottom: 1rem;

    .section {
      flex: 1;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      h3 {
        font-size: $font-body;
        display: flex;
        justify-content: center;
      }
      .wn-btn {
       width: 100%;
      }
    }

    .submit-btn {
      display: flex;
      justify-content: center;
    }
  }
}

/*
input {
      margin-bottom: 1rem;
      gap: 0.5rem;
    }

    input:focus {
      border-color: $black;
      outline: none;
      box-shadow: 0 0 6px $neon;
    }

    label {
      font-size: $font-body;
      margin-bottom: 0.5rem;
      display: block;
    }
  */