.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;

  &--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--card {
    width: 100%;
    background-color: $soft-white;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.6);
    color: $dark-gray;
    border: 1px solid $light-gray;
  }

  &--header {
    display: flex;
    justify-content: space-between;

    &--date {
      font-size: $font-small;
    }

    &--title {
      font-size: $font-body;
    }
  }

  &--title {
   display: flex;
    gap: 0.75rem;
    justify-content: center;

    .workoutname{
      display: flex;
      align-items: baseline;
      gap: 0.75rem;
    }

  }

  .prev-record{
      font-size: $font-small;

    &--title {
        display: flex;
        justify-content: center;
    }   
    .sets {
        display: flex;
        justify-content: center;
    }
   .set {
      display: inline-flex;
      margin-right: 1rem;
      &:last-child {
         margin-right: 0;
        }
      }
  }

  .close-btn {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
  }
    
  &--body {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    .section {
      flex: 1;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      h3 {
        font-size: $font-body;
        display: flex;
        justify-content: center;
      }
      .wn-btn {
       width: 100%;
      }
    }

    /* 1セット */
    .set-input {
      &--top {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        h4 {
          margin-right: 1rem;
          &:last-child {
            margin-right: 0;
          }
        }
     }
      &--bottom {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;

        textarea {
          flex: 1;
          margin-right: 1rem;
        }
        button {
          margin-right: 1rem
        }
      }
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
    }

  }
}
.err-msg {
  font-size: $font-small;
  align-items: center;
  line-height: 1;
}