.workoutlists {
  width: 60%;
  @include respond(phone) {
   width: 100%;
  }
}

.workoutlist {
  background-color: $soft-white;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 1.5rem;
  color: $dark-gray;
  border: 1px solid $light-gray;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &--title {
      display: flex;
      align-items: baseline;
      gap: 0.75rem;
    }

  &--buttons i {
    font-size: 20px;
    cursor: pointer;
    margin-left: 6px;
  }

  &--set {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $black;
    text-align: center;
    align-items: baseline;
  }

  .set-data {
    display: flex;
    align-items: baseline;

    h3 {
      margin: 0 6px;
    }
  }

  .space {
    margin-right: 12px;
  }
}
