.workoutlists {
  width: 60%;
}
.workoutlist {
  background-color: $soft-white;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 16px;
  color: $dark-gray;
  border: 1px solid $light-gray;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-body;
  }

  &--buttons i {
    font-size: 20px;
    cursor: pointer;
    margin-left: 6px;
  }
  &--set {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $black;
    text-align: center;
    align-items: baseline;
  }
  .record {
    display: flex;
    align-items: baseline;
    h3 {
      margin: 0 6px;
    }
  }

  .space {
    margin-right: 12px;
  }


}
/* 1セット */
.set-input {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
